<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <instrumentation
        android:name=".HiltTestRunner"
        android:targetPackage="com.example.todolist"
        android:label="Tests for TodoList"
        android:handleProfiling="false"
        android:functionalTest="false"/>

</manifest>